<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <title>Rental Car</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <link rel="manifest" href="site.webmanifest" />
    <link rel="apple-touch-icon" href="images/content/favicon.png" />
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="./css/main.css" />
    <link rel="icon" href="images/content/favicon.png" />

    <meta name="theme-color" content="#000" />
  </head>

  <body class="bg-black">
    <!-- Add your site or application content here -->

    <!-- START: Header -->
    <header class="absolute w-full z-50 bg-transparent ">
      <div class="container">
        <div class="flex flex-strech items-center">
          <div class="w-full items-center">
            <img src="../images/design/logo.svg" alt="Rental Car adalah Sebuah mobil rental yang baru beroperasi">
          </div>
          <div class="w-full py-10"></div>
          <!-- START: Menu Hamburger wrapper -->
          <div class="w-auto py-10">
            <ul id="menu" class="fixed flex bg-gray-500 inset-0 flex-col invisible items-center justify-center opacity-0 md:visible md:flex-row md:bg-transparent md:relative md:opacity-100">
              <li class="md:mr-28 py-6 md:py-0">
                <a href="#" class="text-white hover:text-black hover:underline">HOME</a>
              <li class="md:mr-28 py-6 md:py-0">
                <a href="#" class="text-white hover:text-white hover:underline">GARAGE</a>
              <li class="md:mr-28 py-6 md:py-0">
                <a href="#" class="text-white hover:text-white hover:underline">ABOUT</a>
              <li class="md:mr-28 py-6 md:py-0">
                <a href="#" class="text-white hover:text-white hover:underline">FAQ</a>
              <li class="md:mr-28 py-6 md:py-0">
                <a href="#" class="text-white hover:text-white hover:underline">CONTACT</a> 
              </li>
            </ul>
          </div>
          <!-- END: Menu Hamburger wrapper -->
          <div class="w-auto py-10">
            <ul class="flex items-center">
              <li class="ml-3 block md:hidden">
                <button id="menu-toggler" class="relative flex z-50 items-center justify-center w-8 h-8 text-black focus:outline-none">
                  <svg class="fill-current" width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.9773 0.296875H1.04219C0.466585 0.296875 0 0.661833 0 1.11206C0 1.5623 0.466668 1.92725 1.04219 1.92725H15.9773C16.5529 1.92725 17.0195 1.5623 17.0195 1.11206C17.0195 0.661768 16.5529 0.296875 15.9773 0.296875Z" fill="#FFAB18"/>
                    <path d="M15.9773 8.31775H1.04219C0.466585 8.31775 0 8.68271 0 9.13294C0 9.58317 0.466668 9.94813 1.04219 9.94813H15.9773C16.5529 9.94813 17.0195 9.58317 17.0195 9.13294C17.0195 8.68264 16.5529 8.31775 15.9773 8.31775Z" fill="#FFAB18"/>
                    <path d="M15.9773 16.3386H1.04219C0.466585 16.3386 0 16.7036 0 17.1538C0 17.604 0.466668 17.969 1.04219 17.969H15.9773C16.5529 17.969 17.0195 17.604 17.0195 17.1538C17.0195 16.7035 16.5529 16.3386 15.9773 16.3386Z" fill="#FFAB18"/>
                    </svg>                                        
                </button>
              </li>
              <li class="ml-3 mr-3">
                <a href="#" class="flex items-center justify-center w-8 h-8 text-white hover:text-white cart cart-filled">
                  <svg width="30" height="23" viewBox="0 0 30 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.8754 18.6214C9.61762 18.6214 8.59436 19.6017 8.59436 20.8066C8.59436 22.0116 9.61762 22.9919 10.8754 22.9919C12.1331 22.9919 13.1564 22.0116 13.1564 20.8066C13.1563 19.6017 12.1331 18.6214 10.8754 18.6214ZM10.8754 21.7716C10.3199 21.7716 9.86796 21.3387 9.86796 20.8065C9.86796 20.2744 10.3199 19.8414 10.8754 19.8414C11.4308 19.8414 11.8828 20.2744 11.8828 20.8065C11.8828 21.3388 11.4308 21.7716 10.8754 21.7716Z" fill="white"/>
                    <path d="M18.8764 18.6214C17.6186 18.6214 16.5953 19.6017 16.5953 20.8066C16.5953 22.0116 17.6186 22.9919 18.8764 22.9919C20.1342 22.9919 21.1575 22.0116 21.1575 20.8066C21.1574 19.6017 20.1341 18.6214 18.8764 18.6214ZM18.8764 21.7716C18.3209 21.7716 17.869 21.3387 17.869 20.8065C17.869 20.2744 18.3209 19.8414 18.8764 19.8414C19.4319 19.8414 19.8838 20.2744 19.8838 20.8065C19.8838 21.3388 19.4319 21.7716 18.8764 21.7716Z" fill="white"/>
                    <path d="M19.438 7.11639H10.3122C9.96051 7.11639 9.67542 7.38952 9.67542 7.72646C9.67542 8.06339 9.96056 8.33652 10.3122 8.33652H19.438C19.7897 8.33652 20.0748 8.06339 20.0748 7.72646C20.0748 7.38947 19.7897 7.11639 19.438 7.11639Z" fill="white"/>
                    <path d="M18.9414 10.2844H10.8089C10.4572 10.2844 10.1721 10.5575 10.1721 10.8945C10.1721 11.2314 10.4572 11.5045 10.8089 11.5045H18.9413C19.293 11.5045 19.5781 11.2314 19.5781 10.8945C19.5781 10.5576 19.293 10.2844 18.9414 10.2844Z" fill="white"/>
                    <path d="M25.6499 4.39822C25.407 4.11268 25.0472 3.94894 24.6626 3.94894H4.82655L4.42595 2.08594C4.34232 1.69732 4.06563 1.37101 3.68565 1.21295L0.890528 0.0506658C0.567841 -0.0836152 0.192825 0.0582363 0.0528584 0.367272C-0.0872597 0.676404 0.0608116 1.03572 0.383347 1.1698L3.17852 2.33213L6.2598 16.661C6.38117 17.2253 6.90578 17.6349 7.50723 17.6349H22.7635C23.1152 17.6349 23.4003 17.3617 23.4003 17.0248C23.4003 16.6879 23.1152 16.4147 22.7635 16.4147H7.50728L7.13247 14.6718H22.8814C23.4828 14.6718 24.0075 14.2622 24.1288 13.6979L25.9101 5.41511C25.9876 5.05444 25.8928 4.68372 25.6499 4.39822ZM22.8814 13.4517H6.87012L5.08895 5.16902L24.6626 5.16907L22.8814 13.4517Z" fill="white"/>
                    <circle cx="26" cy="4.89026" r="4" fill="#FFAB18"/>
                    </svg>                    
                </a>
              </li>
            </ul>
          </div>
       <div class="md:w-auto py-10"></div>
        </div>
      </div>
    </header>
    <!-- END: Header -->

    <!-- START : Content -->

    <section class="flex items-center bg-transparent hero">
      <div class="invisible md:visible w-1/6 md:relative md:w-auto mt-20 iconn">
        <a href="https://www.instagram.com/usman.abdat/?hl=id">
          <img src="../images/design/fb.png" alt="" class="w-5 mx-28 my-10">
        </a>
        <a href="#">
          <img src="../images/design/ig.png" alt="" class="w-5 mx-28 my-10">
        </a>
        <a href="#">
          <img src="../images/design/wa.png" alt="" class="w-5 mx-28 my-10">
        </a>
        <a href="#">
          <img src="../images/design/email.png" alt="" class="w-5 mx-28 my-10">
        </a>
        <a href="#">
          <img src="../images/design/message.png" alt="" class="w-5 mx-28 my-10">
        </a>
      </div>
      <!-- START: Content | Left side -->
      <div class="w-full absolute z-20 inset-0 md:relative md:w-1/4 text-center flex flex-col justify-center hero-caption mt-96">
        <h1 class=" px-8 md:px-0 text-5xl md:text-7xl md:tracking-widest md:text-left leading-tight font-bold text-white text-left garage">
          LUXURY <br class="">LIFESTYLE <br class="" /> RENTALS
        </h1>
        <h2 class="text-xl px-8 md:px-0 text-white pt-5 md:text-left text-left">THE AMG GLE Coupe 2022</h2>
        <h2 class="px-8 md:px-0 text-yellow-100 md:text-left text-left">IDR 500.000 <font class="text-gray-500 ">/ Per Day</font> </h2>
        <div class="md:text-left">
          <a href="#today" class="bg-transparent text-white hover:bg-black hover:text-yellow-100 rounded-full px-8 py-3 mt-4 inline-block flex-none-transition duration-200 borderr">Drive Now</a>
        </div>
      </div>
      <!-- END: Content | Left side -->

      <div class="invisible relative inset-0 md:relative md:w-3/4 md:visible ">
        <div class="relative hero-image">
          <div class="overlay inset-0 opacity-30 z-10"></div>
        </div>
        <img
        class="relative inset-0 md:relative w-full h-full object-contain h-48 w-full garagee"
        src="../images/content/garage.jpg" alt="" />
      </div>
      <div class="inset-0 md:hidden md:w-3/4">
        <img
        class="absolute inset-0 md:hidden w-full h-full object-contain h-48 w-full -mt-60"
        src="../images/content/garagemobile.jpg" alt="" />
      </div>

    </section>
    <!-- END : Content -->

    <!-- START : TODAY SPECIAL -->
    <section class="flex flex-col md:py-16 md:px-4 mt-60 md:mt-0" id="today">

      <div class="container md:mx-auto md:px-20">
        <div class="md:flex flex-start mb-4 justify-center items-center">
          <div class="w-1/2 mx-auto">
            <h3 class="text-2xl md:text-5xl capitalize font-bold text-white mx-auto md:mx-0 mb-4">
              Today Special
            </h3>
          </div>
          
          <div class="flex w-full md:w-1/2 md:mx-auto ml-2">
            <div class="mx-auto">
              <div class="flex mx-auto mr-7 justify-center items-center">
                <img src="../images/design/bmw.png" alt="" class="object-contain h-6 w-6">
                <h1 class="ml-2 md:ml-5 font-semibold text-white">BMW</h1>
              </div>
            </div>
            <div class="mx-auto">
              <div class="flex mx-auto mr-7 justify-center items-center">
                <img src="../images/design/innova.png" alt="" class="object-contain h-6 w-6">
                <h1 class="ml-2 md:ml-5 font-semibold text-white">INNOVA</h1>
              </div>
            </div>
            <div class="mx-auto">
              <div class="flex mx-auto mr-7 justify-center items-center">
                <img src="../images/design/sportcar (2).png" alt="" class="object-contain h-6 w-6">
                <h1 class="ml-2 md:ml-5 font-semibold text-white">SPORTCAR</h1>
              </div>
          </div>
          </div>
          <div class="w-1/6 md:visible invisible">
            <div class="mx-auto">
              <a href="details.html" class="text-white rounded-full hover:text-yellow-100 borderr p-5">VIEW ALL</a>
            </div>
          </div>
        </div>
      </div>

        <div class="overflow-x-hidden   py-4" id="carousel">
          <div class="container mx-auto"></div>

            <div class="flex -mx-4 flex-row relative">
            <!-- START: item carousel 1 -->

                <div class="px-4 relative card">
                  <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                    <img src="../images/content/marcedez.png" alt="" class="w-full h-full object-cover object-center">
                  </div>
                  <div>
                    <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                    <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                    <a href="#details.html" class="stretched-link">
                      <!-- fake children -->
                    </a>
                  </div>
                </div>

            <!-- END: item carousel 1 -->

            <!-- START: item carousel 2 -->

                <div class="px-4 relative card">
                  <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                    <img src="../images/content/innova.png" alt="" class="w-full h-full object-cover object-center">
                  </div>
                  <div>
                    <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                    <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                    <a href="#details.html" class="stretched-link">
                      <!-- fake children -->
                    </a>
                  </div>
                </div>

            <!-- END: item carousel 2 -->
            <!-- START: item carousel 3 -->

                <div class="px-4 relative card">
                  <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                    <img src="../images/content/sportcar.png" alt="" class="w-full h-full object-cover object-center">
                  </div>
                  <div>
                    <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                    <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                    <a href="#details.html" class="stretched-link">
                      <!-- fake children -->
                    </a>
                  </div>
                </div>

            <!-- END: item carousel 3 -->
            <!-- START: item carousel 4 -->

                <div class="px-4 relative card">
                  <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                    <img src="../images/content/marcedez.png" alt="" class="w-full h-full object-cover object-center">
                  </div>
                  <div>
                    <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                    <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                    <a href="#details.html" class="stretched-link">
                      <!-- fake children -->
                    </a>
                  </div>
                </div>

            <!-- END: item carousel 4 -->
            <!-- START: item carousel 5 -->

                <div class="px-4 relative card">
                  <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                    <img src="../images/content/marcedez.png" alt="" class="w-full h-full object-cover object-center">
                  </div>
                  <div>
                    <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                    <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                    <a href="#details.html" class="stretched-link">
                      <!-- fake children -->
                    </a>
                  </div>
                </div>

            <!-- END: item carousel 5 -->
            <!-- START: item carousel 5 -->

                <div class="px-4 relative card">
                  <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                    <img src="../images/content/marcedez.png" alt="" class="w-full h-full object-cover object-center">
                  </div>
                  <div>
                    <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                    <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                    <a href="#details.html" class="stretched-link">
                      <!-- fake children -->
                    </a>
                  </div>
                </div>

            <!-- END: item carousel 5 -->
             <!-- START: item carousel 5 -->

             <div class="px-4 relative card">
              <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                <img src="../images/content/marcedez.png" alt="" class="w-full h-full object-cover object-center">
              </div>
              <div>
                <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                <a href="#details.html" class="stretched-link">
                  <!-- fake children -->
                </a>
              </div>
            </div>

        <!-- END: item carousel 5 --> <!-- START: item carousel 5 -->

                <div class="px-4 relative card">
                  <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                    <img src="../images/content/marcedez.png" alt="" class="w-full h-full object-cover object-center">
                  </div>
                  <div>
                    <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                    <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                    <a href="#details.html" class="stretched-link">
                      <!-- fake children -->
                    </a>
                  </div>
                </div>

            <!-- END: item carousel 5 -->
             <!-- END: item carousel 5 --> <!-- START: item carousel 5 -->

             <div class="px-4 relative card">
              <div class="rounded-xl overflow-hidden card-shadow" style="width:287px;">
                <img src="../images/content/marcedez.png" alt="" class="w-full h-full object-cover object-center">
              </div>
              <div>
                <h5 class="text-lg font-semibold mt-4 text-white text-center">MARCEDEZ</h5>
                <h2 class="px-8 md:px-0 text-yellow-100 md:text-center text-center">IDR 500.000 <span class="text-gray-500 ">/ Per Day</span> </h2>
                <a href="#details.html" class="stretched-link">
                  <!-- fake children -->
                </a>
              </div>
            </div>

        <!-- END: item carousel 5 -->
            
            </div>
        </div>
    </section>
    <!-- END : TODAY SPECIAL -->

    <!-- START: ABOUT US -->
    <section>
      <div class=" md:flex mt-6">
        <div class="rounded-xl overflow-hidden">
          <img src="../images/design/aboutus.png" alt="" class="w-full h-full object-cover object-center">
        </div>
        <div class="absolute md:relative md:pt-28 md:-ml-10 md:visible invisible md:w-auto w-0">
          <h2 class="text-white font-bold  text-4xl text-center justify-start items-center flex">RENTAL CAR</h2>
          <a href="#">
            <h2 class="text-white font-semibold text-yellow-100 text-2xl text-center justify-end items-center flex mt-10 hover:text-white">Follow Us</h2>
          </a>
        </div>
      </div>
    </section>
    <!-- END: ABOUT US -->

    <!-- START: FAQ -->

    <section class="md:flex justify-center items-center md:mx-52">
      <div class="w-full md:w-1/2">
        <div class="block">
          <h2 class="text-white text-bold md:text-4xl mt-4 text-2xl px-2">LUXURY CAR RENTAL MIAMI</h2>
          <p class="block text-white mt-4 text-xs px-2">Are you looking for exotic or luxury car rental in Miami ? <br />
            You want to rent a luxury car or maybe exotic car? Get in touch with Rental Car - <br />
            Exotic and Luxury Cart Rental Miami agency. whether you need a exotic or luxury carrentals <br />
            for you business or for play.</p>
        </div>
          <div class="flex my-10">
            <div class="flex items-center">
              <img src="../images/design/mileage.png" alt="" class="md:mx-5 mx-2 text-semibold" style="width: 20px;">
              <h2 class="text-white">MILEAGE <br /> UNLIMITED</h2>
            </div>
          <div class="flex items-center">
              <img src="../images/design/pickup.png" alt="" class="md:mx-5 mx-2 text-semibold" style="width: 20px;">
              <h2 class="text-white">PICK UP <br /> SERVICE</h2>
            </div>
          <div class="flex items-center">
              <img src="../images/design/delivery.png" alt="" class="md:mx-5 mx-2 text-semibold" style="width: 20px;">
              <h2 class="text-white">DELIVERY TO <br /> DOOR</h2>
            </div>
          </div>
      </div>
      <div class="w-full md:w-1/2 md:ml-20 md:-mt-10">
        <img src="../images/design/faq.jpg" alt="">
      </div>
    </section>

    <!-- END: FAQ -->

    <section class="relative md:flex justify-center items-center md:mx-52 md:mt-10">
      <div class="flex justify-start md:w-1/2 w-full my-5 px-5">
        <img src="../images/design/footer.png" alt="">
        <div class="block ml-5 text-left">
          <h1 class="text-white">Medan - MDN - | IDN</h1>
          <h1 class="text-white">+628-9773-1245</h1>
          <h1 class="text-white">usmanabdat6@gmail.com</h1>
          <h1 class="text-white mt-3">Privacy Policy</h1>
        </div>
      </div>
      <div class="relative md:flex md:justify-star md:items-start md:w-1/2 w-full">
        <div class="block">
          <div class="mx-20 md:mx-0 mb-4">
            <input type="text" id="name" class="border rounded hover:borderr" style="background-color:#000000;" placeholder=" Name" />
          </div>
          <div class="mx-20 md:mx-0 mb-4">
            <input type="email" id="Email" class="border rounded hover:borderr" style="background-color:#000000;" placeholder=" Email" />
          </div>
          <div class="mx-20 md:mx-0 mb-4">
            <input type="tel" id="Phone" class="border rounded hover:borderr" style="background-color:#000000;" placeholder=" Phone" />
          </div> 
        </div>
        <div class="block mb-4 ml-3">
          <textarea name="Message" cols="30" rows="3" placeholder=" Catatan" class="border rounded hover:borderr mx-10 md:mx-0 " style="background-color:#000000;"></textarea>
          <a href="#" class="block borderr text-white bg-yellow-500 text-center py-1 mx-20 md:mx-0">SEND</a>
        </div>
      </div>
    </section>

    <footer class="flex text-center justify-center px-4 md:mx-60 py-2">
      <div class="md:w-1/2"></div>
      <div class="md:w-1/2">
        <p class="text-sm text-white">
          Copyright 2022 | Rental . All Rights Reserved
        </p>
      </div>
    </footer>

    
    <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
    <script>
      window.ga = function () {
        ga.q.push(arguments);
      };
      ga.q = [];
      ga.l = +new Date();
      ga("create", "UA-XXXXX-Y", "auto");
      ga("set", "anonymizeIp", true);
      ga("set", "transport", "beacon");
      ga("send", "pageview");
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async></script>
  </body>
</html>
